


/* #region ===== VARIABLES & CONFIG ===== */

:root {
    --primary-color: #5cec86;
    --text-color: white;
    --reversed-text-color: black;
    --bg-dark: #111111;
    --border-color: #000000;
}

* {
    font-family: 'Jersey 10', sans-serif;
    transition: all 0.4s;
}

::selection {
    background: var(--text-color);
    color: var(--reversed-text-color);
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    overflow-x: hidden;
}


/* #endregion */



/* #region ===== HELPERS ===== */

.stripedBg {
    background-color: #222;
    background-image: linear-gradient( -45deg, #1a1a1a 25%, #111 25%, #111 50%, #1a1a1a 50%, #1a1a1a 75%, #111 75%, #111 );
    background-size: 25px 25px;
}


.glowText {
    color: var(--primary-color);
    text-shadow: 0 0 2px var(--primary-color);
}


.default-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--primary-color);
    font-size: clamp(1.3rem, 2vw, 10rem);
    background: #111;
    border: 3px solid var(--primary-color);
    box-shadow: 0 0 15px var(--primary-color);
    margin: 0 auto 50px auto; padding: 10px 20px;
}

.default-btn:hover {
    animation: buttonHover 1s infinite ease-in-out;
    box-shadow: 0 0 20px var(--primary-color);
}

/* #endregion */


/* #region ===== HEADER ===== */

header {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    background: #111;
    border-bottom: 2px solid var(--primary-color);
    box-shadow: var(--primary-color) 0 0 10px;
    margin: 0; padding: 1rem 2rem;
    width: stretch;
    z-index: 9999;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0; padding: 3px;
}

.nav-brand {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: bold;
    gap: 20px;
    text-decoration: none;
}

#nav-icon {
    width: clamp(2.4rem, 3vw, 15rem);
    margin: 0; padding: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0; padding: 0;
    height: 100%;
    align-items: center;
}

.nav-links a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.8rem;
}

.nav-links a:hover {
    color: var(--primary-color);
    text-shadow: 0 0 5px var(--primary-color);
    transform: scale(1.13);
}

/* Mobile */
@media (max-width: 600px) {

    header {
        margin: 0; padding: 0.5rem 1rem;
    }

    /* Stack vertically */
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .nav-links {
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
    }

    .nav-brand {
        font-size: clamp(2.2rem, 6vw, 15rem);
    }

    .nav-links a {
        font-size: clamp(1.3rem, 5vw, 10rem);
    }
}


/* #endregion */


/* #region ===== MAIN ===== */

main {
    margin: 0; padding: 0;
    justify-content: center;
    min-height: 93vh;
}

/* #endregion */


/* #region ===== FOOTER ===== */

footer {
    display: block;
    background: #111;
    border-top: 2px solid var(--primary-color);
    box-shadow: var(--primary-color) 0 0 10px;
    margin: 0;
    padding: 1rem 2rem;
    width: stretch;
    z-index: 9999;
}

/* #endregion */