

/* #region ===== INDEX TOP ===== */

#index-top-title {
    position: relative;
    margin: 120px 20px; padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 77vh;
    justify-content: center;
}

#index-top-title .onOff {
    position: absolute;
    margin-left: 0.2rem;
}

/* MAIN TITLE */
#index-top-title h1 {
    font-size: clamp(3.5rem, 17vw, 50rem);
    margin: 0; padding: 0;
    width: 100%;
}

/* SUBTITLE */
#index-top-title h2 {
    font-size: clamp(1.2rem, 2.5vw, 30rem);
    margin: 0 0 3rem 0; padding: 0;
    width: 100%;
    font-weight: normal;
}

/* #endregion */


/* #region ===== INDEX SERVICES ===== */

#index-services-div {
    position: relative;
    margin: 20px;
    padding: 0 0.2rem;
    display: flex;
    flex-direction: column;
}


#index-services-div h1 {
    font-size: clamp(3rem, 9vw, 40rem);
    margin: 0;
    padding: 0;
    width: 100%;
    text-decoration: underline;
}

.index-service {
    text-align: left;
    max-width: 100vw;
    position: relative;
    margin: 0 20px;
    margin-bottom: 100px;
    padding: 0;
    display: flex;
    align-items: center;
}

    .index-service:nth-of-type(even) {
        text-align: right;
        flex-direction: row-reverse;
    }

.service-content {
    max-width: 60vw;
    margin: 0; padding: 0 0 60px 0;
}

.service-image-container {
    max-width: 30vw;
    margin: auto;
}


.service-image-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 25px var(--primary-color);
}

.index-service h2 {
    font-size: clamp(2.4rem, 5vw, 40rem);
    margin: 0; padding: 0;
}

.index-service p {
    font-size: clamp(1.4rem, 2vw, 7rem);
    margin: 0; padding: 0;
}



@media (max-width: 600px) {
    .index-service,
    .index-service:nth-of-type(even) {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .service-content,
    .service-image-container {
        max-width: 100%;
        width: 100%;
        padding-bottom: 30px;
    }
}
/* #endregion */


/* #region ===== PHILOSOPHY QUOTE ===== */

#philosophy-quote {
    width: 100%;
    margin: 0 0 40px 0; padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


#philosophy-quote p {
    width: 50%;
    text-align: center;
    font-size: 1.6rem;
    font-style: italic;
    color: #e0e0e0;
    margin: 0; padding: 10px;
    position: relative;
}


@media (max-width: 600px) {
    #philosophy-quote p {
        width: 100%;
        font-size: 1.3rem;
    }
}
/* #endregion */


/* #region ===== GAMES PREVIEW ===== */
.games-preview-div {
    position: relative;
    margin: 100px 20px; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.games-preview-div .default-btn {
    margin: 0 auto 50px auto;
}

.games-preview-div h1 {
    font-size: clamp(3rem, 9vw, 40rem);
    margin: 10px 0 0 0; padding: 0;
    text-decoration: underline;
}

.game-preview-box {
    display: flex; flex-direction: row;
    position: relative;
    width: stretch;
    text-decoration: none;
    color: var(--text-color);
    margin: 30px 0; padding: 25px;
    transition: all 0.3s ease-in-out !important;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.game-preview-text-div {
    width: 50vw;
}

.game-preview-title {
    font-size: clamp(2rem, 4vw, 30rem);
    margin: 0; padding: 0;
}

.game-preview-description {
    font-size: clamp(1.2rem, 1.5vw, 10rem);
    margin: 10px 0 40px; padding: 0;
}



@media (max-width: 1000px) {
    .game-preview-box {
        margin: 15px 0; padding: 0;
        width: stretch;
        flex-direction: column;
    }

    .game-preview-box:hover {
        transform: none !important;
    }

    .game-preview-text-div {
        width: 100%;
    }
}

/* #endregion */


/* #region ===== NOT FOUND ===== */
#not-found-container {
    position: relative;
    margin: 270px 20px; padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    justify-content: center;
}


#not-found-container h1 {
    font-size: clamp(4rem, 8vw, 30rem);
    margin: 0; padding: 0;
    width: 100%;
}


#not-found-container p {
    font-size: clamp(1.5rem, 2vw, 5rem);
    margin: 10px 0 0 0; padding: 0;
    width: 100%;
}

/* #endregion */


/* #region ===== SLIDESHOW ===== */

.wavy-text span {
  display: inline-block; /* Essential for transforms */
  animation: jump 1s infinite;
  
  /* Calculate delay based on the variable we set in HTML */
  animation-delay: calc(0.1s * var(--i)); 
}

@keyframes jump {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.slideshow-container {
    position: relative;
    width: stretch;
    margin: 20px; padding: 0;
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 15px var(--primary-color);
    background-color: #000;
    overflow: hidden;
    border-radius: 10px;
}

.slides-wrapper {
    display: flex;
    width: 100%;
    transition: transform 0.6s ease-in-out;
}

.slide {
    min-width: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2rem;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: var(--primary-color);
    color: black;
    box-shadow: 0 0 15px var(--primary-color);
}


@media (max-width: 1000px) {
    .slideshow-container {
        width: stretch;
        margin: -15px; padding: 0;
        border: none;
        box-shadow: none;
    }
}

/* #endregion */


/* #region ===== PROJECT PAGE ===== */

.project-page-div {
    position: relative;
    margin: 100px 20px; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-page-div .default-btn {
    margin: 30px auto 10px; padding: 10px max(10%, 50px);
    font-size: clamp(2rem, 4vw, 15rem);
    display: block;
    cursor: pointer;
}

.project-page-div small {
    font-size: clamp(1.3rem, 1.5vw, 5rem);
    color: #ff0000;
    display: block;
    margin: 0; padding: 0;
    text-align: center;
}

.project-page-div h1 {
    font-size: clamp(3rem, 9vw, 50rem);
    margin: 40px 0 0 0; padding: 0;
    text-decoration: underline;
    text-align: center;
}

.project-page-div h2 {
    font-size: clamp(2.5rem, 5vw, 30rem);
    margin: 50px 0 0 0; padding: 0;
}

.project-page-div p {
    font-size: clamp(1.2rem, 2vw, 7rem);
    margin: 0; padding: 0;
}

.project-page-div ul {
    margin: 0; padding: 0 20px;
}

.project-page-div li {
    font-size: clamp(1.2rem, 2vw, 7rem);
    margin: 0; padding: 0;
}


.project-page-images {
    display: grid;
    gap: 20px;
    margin: 0; padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr));
}

.project-page-images img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
}


/* Playing game */
#game-container {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999999;
    transition: all 0s;
    background: black;
}

#game-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#game-container #close-game-btn {
    position:absolute; top:20px; right:20px; z-index:1000;
    display: flex;
    text-decoration: none;
    color: red;
    font-size: 1.2rem;
    background: #111;
    border: 2px solid red;
    box-shadow: 0 0 5px red;
    margin: 0; padding: 10px;
    width: 30px;
    height: 30px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

@media (max-width: 1000px) {
    
    .project-page-div {
        margin-left: 5px;
        margin-right: 5px;
    }
}

/* #endregion */